.navbar {
    margin-bottom: 40px;
    background-color: rgba(237, 237, 237, 0.950);
}

#add-countries-image {
    width: 100%;
    height: 100%;
}

.error-container {
    position: absolute;
    bottom: 0;
    right: 20px;
}
